
table{
	border:1px solid blue;

}
 th, td, tr{
	border:1px solid blue;
}
h3{
	border:1px solid blue;
}
h2{
	background-color:black;
	color:white;
}
ul{
	border:1px solid yellowgreen;
}

/* Your CSS Code here. */